body {
    padding: 100px;
}

.submit-area {
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    padding: 30px;
    margin-top: 50px;
}

#transaction-area {
    display: none;
}

.deposit {
    background-color: slateblue;
}

.withdrow {
    background-color: lightsalmon;
}

.balance {
    background-color: orange;
}

.deposit,
.withdrow,
.balance {
    margin: 10px;
    padding: 25px;
    color: #fff;
    border-radius: 10px;
}